<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spcloud.organization.mapper.OrganizationMapper">

    <select id="selectById" resultType="com.spcloud.organization.model.Organization">
        select id, name from organization where id=#{id}
    </select>

</mapper>